html, body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;

}

@media screen and(max-device-width: 1920px){
  html,body{
    font-size: 16px;
  }
}

@media screen and(max-device-width: 1920px){
  html,body{
    font-size: 16px;
  }
}
@media screen and(max-device-width: 1440px){
  html,body{
    font-size: 12px;
  }
}

$bg-color: #02132a; // 背景色
//$leftWidth: 260px;
$leftWidth: 16.25rem;
//$rightWidth: 575px;
$rightWidth: 35.9375rem;

@font-face {
  font-family: 'UnidreamLED';
  src: url('./../font/UnidreamLED.ttf')
}

.page {
  width: 100%;
  height: 100%;
  background: $bg-color;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page-container {
  width: 100%;
  height: 100%;
  //padding: 0 50px 50px 50px;
  padding: 0 3.125rem 3.125rem 3.125rem;
  background: $bg-color;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;

  .top-head {
    //height: 90px;
    height: 5.625rem;
    //line-height: 90px;
    line-height: 5.625rem;
    display: flex;
    border-bottom: 1px solid #003b59;
    justify-content: space-between;

    .title, .time {
      //font-size: 36px;
      font-size: 2.25rem;
      font-weight: 900;
      display: inline-block;
    }

    .time {
      font-family: 'UnidreamLED';
      //font-size: 30px;
      font-size: 1.875rem;
      font-weight: 100;
    }
  }

  .bottom-container {
    flex: 1;
    //padding-top: 20px;
    padding-top: 1.25rem;
    display: flex;

    .left-container {
      width: $leftWidth;
      display: flex;
      flex-direction: column;
      /*justify-content: space-between;*/

      .count-container {
        //height: 120px;
        height: 7.5rem;
        color: #00ffff;
        //margin-bottom: 20px;
        margin-bottom: 1.25rem;

        .count-label {
          //font-size: 26px;
          font-size: 1.625rem;
          //line-height: 26px;
          line-height: 1.625rem;
          //padding: 6px 0px 18px 0;
          padding: 0.375rem 0px 1.125rem 0;
        }

        .iCountUp {
          font-family: UnidreamLED;
          //font-size: 80px;
          font-size: 5rem;
        }

        .count-number {
          width: $leftWidth;
          //height: 70px;
          height: 4.375rem;
          //font-size: 70px;
          font-size: 4.375rem;
          //line-height: 70px;
          line-height: 4.375rem;
          text-align: center;
          border: 4px solid transparent;
          background: linear-gradient(90deg, rgba(20, 28, 42, 1) 50%, transparent 0),
          linear-gradient(rgba(20, 28, 42, 1) 50%, transparent 0);
          background-size: 3px 3px;
        }
      }

      .business-container {
        //font-size: 16px;
        font-size: 1rem;
        flex: 1;
        display: flex;
        flex-direction: column;

        .chat-title {
          background: #000d1a;
          //font-size: 18px;
          font-size: 1.125rem;
          //line-height: 18px;
          line-height: 1.125rem;
          //padding: 6px 0;
          padding: 0.375rem 0;
          //height: 30px;
          height: 1.875rem;

          &:before {
            content: "";
            display: inline-block;
            width: 5px;
            //height: 18px;
            height: 1.125rem;
            vertical-align: top;
            background: #00ffff;
          }
        }

        .business-bot {
          flex: 1;
          display: flex;
          flex-direction: column;
          background: linear-gradient(90deg, rgba(20, 28, 42, 1) 50%, transparent 0),
          linear-gradient(rgba(20, 28, 42, 1) 50%, transparent 0);
          background-size: 3px 3px;

          .location-business-chart, .foreign-business-chart {
            height: 50%;
          }

          .location-business-chart {

          }

          .foreign-business-chart {

          }
        }
      }

    }

    .center-container {
      flex: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      margin: 0px 50px;

      .map-chart {
        flex: 1;
        //margin-bottom: 50px;
        margin-bottom: 3.125rem;
      }

      .center-bot {
        //height: 200px;
        height: 12.5rem;
        display: flex;

        .location-chart, .foreign-chart {
          width: 50%;
        }

        .location-chart {

          .panel-container {
            //border-right: 10px solid $bg-color;
            border-right: 0.625rem solid $bg-color;
          }
        }

        .foreign-chart {

          .panel-container {
            //border-left: 10px solid $bg-color;
            border-left: 0.625rem solid $bg-color;
          }
        }
      }
    }

    .right-container {
      width: $rightWidth;
      display: flex;
      flex-direction: column;

      .right-top {
        display: flex;
        //height: 525px;
        height: 32.1825rem;
        //margin-bottom: 20px;
        margin-bottom: 1.25rem;
        width: 100%;

        .progress-chart, .right-top-right {
          width: 50%;
        }

        .progress-chart {

        }

        .right-top-right {
          display: flex;
          flex-direction: column;

          .resolve-chart, .status-chart {
            height: 50%;
          }

          .resolve-chart {

          }

          .status-chart {

          }
        }
      }

      .area-chart {
        flex: 1;
        background: #000d1a;
      }
    }
  }

  .copy-right {
    position: absolute;
    //right: 50px;
    right: 3.125rem;
    //bottom: 17px;
    bottom: 1rem;
    color: #d2d5d9;
  }
}

.panel-container {
  height: 100%;
  width: 100%;
}






